NASA Mars News Scrape

In [1]:
# Dependencies
import requests
import os
from bs4 import BeautifulSoup

In [2]:
 # NASA URL to scrape
url = 'https://redplanetscience.com/'

# Retrieve page with the requests module
html = requests.get(url)

In [3]:
 # Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html.text, 'html.parser')

In [4]:
# Extract title text
title = soup.title.text
print(title)

News - Mars Exploration Program

In [5]:
# Print all paragraph texts
paragraphs = soup.find_all('p')
for paragraph in paragraphs:
    print(paragraph.text)

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities
The Launch Is Approaching for NASA's Next Mars Rover, Perseverance
NASA to Hold Mars 2020 Perseverance Rover Launch Briefing
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.

JPL Mars Space Images—Featured Image

In [6]:
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [7]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [9]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [10]:
img = [i.get("src") for i in soup.find_all("img", class_="headerimage fade-in")]
img[0]

'image/featured/mars1.jpg'

In [11]:
featured_image_url = url + img[0]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

Mars Facts

In [12]:
import pandas as pd

In [13]:
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [14]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres

In [16]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [17]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere_names = []

# Search for the names of all four hemispheres
results = soup.find_all('div', class_="collapsible results")
hemispheres = results[0].find_all('h3')

# Get text and store in list
for name in hemispheres:
    hemisphere_names.append(name.text)

hemisphere_names

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [18]:
#find the hemisphere photos
photo_results = results[0].find_all('a')
photo_links = []

In [19]:
for photo in photo_results:
    
    if (photo.img):
        
        #attached link for each photo
        photo_url = 'https://marshemispheres.com/' + photo['href']
        
        #list with links
        photo_links.append(photo_url)

photo_links

['https://marshemispheres.com/cerberus.html',
 'https://marshemispheres.com/schiaparelli.html',
 'https://marshemispheres.com/syrtis.html',
 'https://marshemispheres.com/valles.html']